<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <title>Results</title>
    <style>
        #myBtn{
            font-size: 50px;
            color: black;
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            cursor: pointer;
            padding: 15px;
        }
        footer{
            background-color: #0d4f3c;
            position: relative;
            left: 0;
            bottom: 0;
            height: 50px;
            width: 100%;
            color: white;
            font-size: 18px;
        }  
    </style>
</head>
<body>
    <a onclick="topFunction()" id="myBtn" title="Go to top"><i class='bx bxs-up-arrow-circle' ></i></a>
    <div class="container">
        <a href="/" class="btn btn-info mt-5">Home</a>
        <div class="text-center">
            <% if(datas) {%> 
                <h1 class="mb-5">Results for "<%= name %> "</h1>
                <% datas["Search"].forEach(movie => { %>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <img src="<%= movie.Poster %> " alt="<%= movie.Title %> " class="img-fluid mb-5 mb-md-0">
                        </div>
                        <div class="col-md-6 mb-5 mb-md-0">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-action active"> Name: <%= movie.Title %> </li>
                                <li class="list-group-item"><b>Year:</b> <%= movie.Year %> </li>
                                <li class="list-group-item"><b>Genre:</b> <%= movie.Genre %> </li>
                                <li class="list-group-item"><b>Director:</b> <%= movie.Type %> </li>
                                <a class="list-group-item list-group-item-dark" href="/title/<%= movie.imdbID %>">More...</a>
                              </ul>
                        </div>
                    </div>
                    
                <% }); %>
            <% }else{ %>
                <h1>No Such movie named "<%= name  %> "</h1>
           <% } %>
        </div>
        <a href="/" class="btn btn-info mt-5">Home</a>
    </div>
    <footer class="text-center mt-5">
        <div class="container">
            <p>&copy Uthaya KEC</p>
        </div>
    </footer>
</body>

<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
</script>
</html> 